<!doctype html>
<title>{% block title %}{% endblock %} - Training Zealot</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{#<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">#}
<nav class="navbar navbar-light bg-light">
  <a href="/" class="navbar-brand">The Training Zealot Analysis Platform</a>
  <!-- <h1>The Training Zealot Analysis Platform</h1> -->
  {% block navbar_right %}{% endblock navbar_right %}
  {% if current_user.is_authenticated %}
    <a href="/logout">Log out</a>
  {% endif %}
</nav>
<section class="content">
  <div class="container-fluid">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% block content %}{% endblock %}
  </div>
</section>
